extends layout

block content
 .container
   div.row
    div.col.xs-12
     if(user)
      a(href="/login") Login
      br
      a(href="/register") Register
      a(href="/logout") Logout
   div.row
    div.col-xs-9
     form(role='form', action="/play",method="get", style='max-width: 300px;')
      select(class="form-control" name="time")
       -for(var i = 1;i<10;i++){
       option(value="#{i}")  #{i} Minute
       -}
      &nbsp; 
      br
      button.btn.btn-default(type='submit') Play
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    div.col-xs-3
     h4.text-center Timer is 
        span(id="timer")
     div(class="hide" id="timer-value") #{i}
  script(src='javascript/moment.js')
  script(src='javascript/timer.js')
     
    
    

    
    
    
    
    
    
    