include mixins
doctype html
html( lang="en" )
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='A Game of Chess' )
    
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/chessboardjs/css/chessboard.css')
    link(rel="stylesheet", href="/stylesheets/style.css")        
   
    title= title
    
    body(style="padding-bottom:200rem;")
        +nav("Chess Game", "dropdown_menu")
            +nav_item( "index", "active" ) Home
            +nav_item( "about" ) About
            +nav_item( "play" ) Play
            +nav_item( "register" ) Register
            +nav_item( "login" ) Login
            +nav_item( "logout" ) Logout
            
            
           
        block content
            .container
              h1 #{user}
        script(src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js')
        script(src='javascript/jquery.js')
        script(src='/vendor/bootstrap/dist/js/bootstrap.js')
        //- script(src='javascript/chessboard.js') 
        //- script(src='javascript/chess.js')
        //- script(src='javascript/moment.js')
        //- script(src='javascript/timer.js')
       
      
    
                    
       
        
      
