extends layout

block content
 div.container
  div.row
   div.col-md-12
    h4.text-center Game Time 
        span(id="timer") 
    div#board(style="width:400px;")
    br
    button.btn.btn-primary 
     a(href="/game") start
    &nbsp;
    button.btn.btn-default(id="pause") Pause
    &nbsp;
    button.btn.btn-default(id="resume") Resume
    &nbsp;
    button.btn.btn-primary 
     a(href="/game") stop
    &nbsp;
     
    &nbsp;
    
    

    
    

    div(class="hide" id="timer-value") #{time}
    script(src='javascript/jquery.js')
    script(src='javascript/chessboard.js') 
    script(src='javascript/chess.js')
    script(src='javascript/moment.js')
    script(src='javascript/timer.js')     
    script(src='javascript/game.js') 
        